<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="UTF-8">
    <title>Vorschläge</title>
    <link rel="stylesheet" href="/static/cloudStyle.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Ilmprokombinat</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Zu erreichen unter:  <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/IlmproKombinat/">Facebook</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/ronraoule">Twitch</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/UCu575nVvLo2cGmOcETCSj8w">Youtube</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="https://discord.gg/W4ucTqrt">Discord-Link</a>
                </li>
            </ul>
        </div>
    </nav>


<div class="row">
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
         <h5 class="card-title">Deine Vorschläge</h5>
            <form class="theater" id="suggestform">
                   <th:block th:each="i: ${#numbers.sequence(1, 5)}">
                        <div class="form-control-sm">
                            <input type="text"  placeholder="vorschlag" th:name='${"v" + i}' />
                         </div>
                    </th:block>
                     <div class="form-control-sm">
                          <button type="submit" class="bg-success btn btn-sm"> Vorschlag Einsenden <i class="fas fa-plus-circle"></i> </button>
                     </div>
             </form>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
  
      <div class="card-body">
        <h5 class="card-title">   <div class="row">
            <div class="container-fluid">
                <div class="text-center fade-in" id="question">
                </div>
            </div>
        </div></h5>
        <p class="card-text"> <div class="row">
            <div class="container-fluid" id="root">
            </div>
        </div>
        </p>
     
      </div>
    </div>
 
</div>
 
    <script src="/static/cloud.js"></script>

</body>

</html>